@import "tailwindcss";

@theme {
  --color-primary: #121212;
  --color-purpleGrad: #16151c;
  --color-greenGrad: #141c17;
}

.card {
  @apply flex flex-col;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.fade {
  opacity: 0;
  animation: fadeInOut 2s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
